<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <a href="/home">B.<span style="color: #1b8dbf">Travel</span></a>
      </div>
      <div class="footer-links">
        <!-- Add other footer links here -->
      </div>
    </div>
    <div class="footer-bottom">
      <p>© Bản quyền. Thiết kế và phát triển bởi <a href="https://www.B.travel.com/">B.Travel</a></p>
      <div class="footer-social">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-telegram"></i></a>
        <a href="#"><i class="fa-brands fa-google"></i></a>
        <!-- Add other social icons here -->
      </div>
    </div>
  </div>
</footer>