<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="link/head :: head">
    <style>
        .input-custom {
            border-radius: 30px !important; /* Ensure rounding */
            width: 100%;
        }
        .form-group {
            margin-bottom: 20px;
            background-color: #0a53be;
            font-weight: 900;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <nav th:replace="link/nav :: nav"></nav>
    <div class="container-fluid page-body-wrapper">
        <nav th:replace="link/nav1 :: nav"></nav>
        <div class="main-panel">
            <div class="content-wrapper pb-0">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title" style="font-size: 25px">Thêm thể loại</h1>
                            <form th:action="@{/admin/category/create}" th:object="${category}" method="post" enctype="multipart/form-data">
                                <div class="form-group col-md-9">
                                    <label for="tentheloai">Tên thể loại:</label>
                                    <input type="text" th:field="*{tentheloai}" class="form-control input-custom rounded" id="tentheloai"/>
                                    <label th:if="${#fields.hasErrors('tentheloai')}" th:errors="*{tentheloai}" class="text-danger"></label>
                                </div>
                                <button type="submit" class="btn btn-success">Thêm Thể Loại</button>
                            </form>
                            <a href="/admin/category" class="btn btn-secondary mt-3">Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="link/footer :: footer"></footer>
        </div>
    </div>
</div>
</body>
</html>