<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile border-bottom">
            <a href="/admin/home" class="nav-link flex-column">
                <div class="nav-profile-image text-center">
                    <i class="fa-solid fa-user" style="font-size: 60px; color: #0a53be;"></i>
                </div>
                <div class="nav-profile-text d-flex ms-0 mb-3 flex-column text-center">
                    <span class="fw-semibold mb-1 mt-2" style="font-size: 1.2em; color: black;">Xin chào Admin!</span>
                </div>
            </a>
        </li>


        <li class="nav-item pt-3">
            <a class="nav-link d-block" href="/admin/home">
                <img class="sidebar-brand-logo" src="assets/images/logo.svg" alt="">
                <img class="sidebar-brand-logomini" src="assets/images/logo-mini.svg" alt="">
            </a>
        </li>
        <li class="nav-item pt-1">
            <a class="nav-link" href="/admin/home">
                <i class=" menu-icon"><i class="fa-solid fa-house"></i></i>
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/user">
                <i class=" menu-icon"><i class="fa-solid fa-user"></i></i>
                <span class="menu-title">User</span>

            </a>
        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/tour">
                <i class=" menu-icon"><i class="fa-solid fa-list"></i></i>
                <span class="menu-title">List tour</span>

            </a>
        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/category">
                <i class="menu-icon"><i class="fa-solid fa-book"></i></i>
                <span class="menu-title">Category</span>

            </a>

        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/booktour">
                <i class="menu-icon"><i class="fas fa-calendar-check"></i></i></i>
                <span class="menu-title">Book Tour</span>

            </a>

        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/review">
                <i class="m menu-icon"><i class="fa-solid fa-comment"></i></i>
                <span class="menu-title">Chats</span>
            </a>

        </li>
        <li class="nav-item pt-2">
            <a class="nav-link" href="/admin/news">
                <i class=" menu-icon"><i class="fa-regular fa-newspaper"></i></i>
                <span class="menu-title">News</span>

            </a>
        </li>
    </ul>

</nav>