<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="homelink/head.html :: head"></head>
<body>

<div th:replace="homelink/body.html:: body"></div>


<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Trang chủ</a>  /  Giới thiệu</span>
          <h4 style="font-style:oblique;font-size: 50px ;color: white">Liên hệ với chúng tôi</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="contact-page section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
         <h3>Giới thiệu </h3>
         <br>
         <h5>1. Lời ngỏ</h5>
            <p><br>Lời đầu tiên, Công ty cổ phần OH!Travel xin gửi lời chào trân trọng và kính chúc Quý khách hàng và Quý đối tác luôn dồi dào sức khỏe,
                thành công trong cuộc sống. Lữ hành OH!Travel không ngừng lớn mạnh trở thành một trong 10 hãng lữ hành hàng đầu của ngành du lịch 
                Việt Nam. Đồng thời, lĩnh vực kinh doanh ngày càng được mở rộng: kinh doanh du lịch trong và ngoài nước, cung cấp vé máy bay,
                đặt phòng khách sạn, dịch vụ vận chuyển, tổ chức sự kiện (M.I.C.E), Free & easy, Visa… Lữ hành OH!Travel cũng đã xây dựng được hệ thống
                chi nhánh ở Hà Nội, Đà Nẵng, Tp. Hồ Chí Minh và Cần Thơ và mạng lưới đại lý ở nhiều tỉnh thành của cả nước.
                Với phương châm “Chất lượng tiên phong” cùng chính sách đa dạng hóa sản phẩm và bảo đảm thực hiện đúng những cam kết về chất lượng,
                Lữ hành OH!Travel đã định vị trong lòng công chúng là thương hiệu lữ hành hàng đầu của Việt Nam nói chung và thị trường 
                TP. HCM nói riêng về chất lượng dịch vụ.</p>
          <h5>2. Tầm nhìn và sứ mệnh</h5>
            <p><br>Luôn phấn đấu để giữ vững giữ vị trí là một trong những công ty du lịch hàng đầu của Việt Nam và khu vực về qui mô, chất lượng và uy tín.
                Với nguồn lực dồi dào, kinh nghiệm và uy tín trong lĩnh vực dịch vụ du lịch, mối quan hệ bền vững với các đối tác lớn khắp nơi trên thế giới,
                đội ngũ nhân viên năng động và chuyên nghiệp, Lữ hành OH!Travel luôn nỗ lực mang đến cho khách hàng những sản phẩm du lịch giá trị nhất.</p>
          <h5>3. Triết lý kinh doanh</h5>
            <p><br>Lữ hành OH!Travel luôn coi trọng ý thức trách nhiệm của doanh nghiệp đối với cộng đồng và môi trường, phát triển các sản phẩm và hoạt động
                kinh doanh trên tiêu chí hài hòa lợi ích doanh nghiệp với cộng đồng, xã hội.</p>
          <h5>4. Giá trị cốt lõi</h5>
            <p><br>- Luôn tuân thủ các quy chuẩn và cam kết chất lượng đã công bố với khách hàng. <br>
              - Xem chất lượng dịch vụ và sự tiện ích của khách hàng là tiêu chí hàng đầu trong các định hướng và hoạt động kinh doanh của Lữ hành OH!Travel. <br>
              - Tiên phong trong việc gợi mở những cảm hứng, mong đợi tiềm ẩn của khách hàng để mang đến cho khách những sản phẩm du lịch độc đáo, mới lạ mà khách chỉ có thể tìm thấy ở Lữ hành OH!Travel</p>
          <h5>5. Hành trình phát triển cùng phương châm CHẤT LƯỢNG TIÊN PHONG</h5>
            <p><br>Với hoạt động kinh doanh ban đầu là tổ chức các chương trình du lịch cho du khách nước ngoài vào tham quan Việt Nam và từng bước thử nghiệm
               các chương trình đưa du khách Việt Nam đi du lịch nước ngoài, dịch vụ vận chuyển, visa… Sau đó, Lữ hành OH!Travel là một trong những công ty du 
               lịch đầu tiên của Việt Nam phát triển thị trường du lịch nước ngoài và nhanh chóng nằm trong top 4 hãng lữ hành có lượng khách du lịch nước ngoài cao nhất. <br>

              Đồng thời, Lữ hành OH!Travel cũng đẩy mạnh thị trường du lịch trong nước và tổ chức được những đoàn khách lớn từ vài trăm lên đến hàng ngàn người. Doanh nghiệp đã khai thác mạnh thị trường du lịch MICE - loại hình du lịch kết hợp hội nghị, hội thảo và hiện nay đang là mũi nhọn trong định hướng kinh doanh của Lữ hành OH!Travel. <br>
              
              Là một trong những doanh nghiệp đầu tiên xây dựng hệ thống Quản lý chất lượng dịch vụ chuyên nghiệp, Lữ hành OH!Travel không ngừng đầu tư và nâng cấp quy trình tổ chức trước, trong và sau tour chuyên nghiệp. Với slogan CHẤT LƯỢNG TIÊN PHONG cùng 4 cam kết chất lượng, đã trở thành tôn chỉ trong mọi hoạt động của Công ty:
              <br>
              - Bảo đảm thực hiện đúng cam kết <br>
              - Bảo đảm cung cấp những sản phẩm đã được chọn lọc <br>
              - Bảo đảm giá cả hợp lý <br>
              - Bảo đảm phong cách phục vụ nhiệt tình và chu đáo.</p>
          
        </div>
      </div>
    </div>
  </div>
<body th:replace="homelink/mess.html::body"></body>

  <footer th:replace="homelink/footer.html :: footer"></footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/counter.js"></script>
  <script src="assets/js/custom.js"></script>

  </body>
</html>